

<form #form="ngForm"  (ngsubmit)="onSubmit(form)">
      <h3 class="mb-3 text-center"> Create Training</h3>
      <div class="form-group">
        <input type="hidden"  name="ID"  [(ngModel)]="service.formData.id" class="form-control" />

        <input type="text" name="name" [(ngModel)]="service.formData.Name" class="form-control" placeholder="Training Name" required />

      </div>
      <div class="form-group">
        <!-- <input type="text" name="startdate"  [(ngModel)]="service.formData.StartDate" class="form-control" placeholder="Start Date"  required /> -->
        <label  for="StartDate">Start Date</label>
        <ejs-datepicker format='dd/MM/yyyy' id='datepicker' placeholder='Select start date'
        [(value)]='model.StartDate'></ejs-datepicker>
      </div>
      <div class="form-group">
        [compare]
        <!-- <input type="text" name="enddate"  [(ngModel)]="service.formData.enddate" class="form-control" placeholder="Finish Date" required /> -->
        <label  for="EndDate">End Date</label>
        <ejs-datepicker format='dd/MM/yyyy' id='datepicker' placeholder='Select end date'
            [(value)]='model.EndDate'></ejs-datepicker>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" > Create Training</button>
      </div>
</form>


